.basthon-turtle-widget {
  box-sizing: border-box;
  width: 100%;
  height: 480px;
  min-height: 240px;
  overflow: hidden;
}

.basthon-turtle-widget svg {
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  outline: none;
}
